@import "./variable";
@import "./typography";

@import "tailwindcss";


body {
  overflow-x: hidden;
  background: $background;
  font-family: "ATRotisSemiSans", Arial, Helvetica, sans-serif;
}
* {
  line-height: 1.15;
}
button {
  line-height: 1;
}

/* Shared - Nickole Frequencedly-Used */
@mixin gen-box($bgbox:null, $paddingbox:null, $radius:0) {
  outline: none !important;
  background: $bgbox; padding: $paddingbox; 
  @if $radius != 0 { border-radius: $radius; }
}
@mixin gen-text($gentxtcolor: null, $gentxtsize: null, $gentxtweight: 400) {
  color: $gentxtcolor; font-size: $gentxtsize; font-weight: $gentxtweight;
}
@mixin gen-flexbox($flextype: start, $align: center, $gap: 0) {
  display: flex;

  @if $flextype == start { justify-content: flex-start; } 
  @else if $flextype == center { justify-content: center; } 
  @else if $flextype == end { justify-content: flex-end; } 
  @else { justify-content: $flextype; }

  @if $align == start { align-items: flex-start; } 
  @else if $align == center { align-items: center; } 
  @else if $align == end { align-items: flex-end; } 
  @else { align-items: $align; }

  @if $gap != 0 { gap: $gap; }
}
.onlyweb { display: block; }
.onlymob { display: none; }
.onlywebflex { display: flex; }
.onlymobflex { display: none; }

@media screen and (max-width: 768px) {
  .onlyweb,
  .onlywebflex {
    display: none !important;
  }
  .onlymob {
    display: block !important;
  }
  .onlymobflex {
    display: flex !important;
  }
}

/* Shared Buttons */
.btn-gradient {
  @include gen-box(linear-gradient(to bottom, $gradient-1, $gradient-2), .675rem 1.25rem , 30px);
  @include gen-text($text-color, .813rem, 400);
  cursor: pointer;
  border: 1px solid $orange;
  text-transform: uppercase;
  letter-spacing: .5px;
  transition: all 0.3s ease-in-out;
  &:hover {
    @include gen-box(linear-gradient(to bottom, $gradient-2, $gradient-1), .675rem 1.25rem , 30px);
    @include gen-text($text-color, .813rem, 400);
  }
}
.btn-primary {
  @include gen-box($orange, .675rem 1.25rem , 30px);
  @include gen-text($text-color, .813rem, 400);
  cursor: pointer;
  border: 1px solid $orange;
  letter-spacing: .5px;
  transition: all 0.3s ease;
  &:hover {
    @include gen-box($orange, .675rem 1.25rem , 30px);
    @include gen-text($text-color, .813rem, 400);
  }
}
.btn-null {
  @include gen-box(transparent, 0.125rem .5rem , 0px);
  @include gen-text($text-color, .813rem, 400);
  @include gen-flexbox(center, center, .5rem );
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    @include gen-box(transparent, 0.125rem .5rem , 0px);
    @include gen-text($text-color, .813rem, 400);
  }
}

.btn-icon {
  cursor: pointer;
  color: #fff;
  padding: .45rem .5rem;
  font-size: 0.813rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
  transition: all 0.3s ease;
  border-radius: 0;
  border-bottom: 3px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  &:hover {
    border-bottom: 3px solid $background;
  }
}

.button-popover {
  text-transform: capitalize;
  background-color: #373737;
  color: #fff;
  border-radius: 8px;
  font-size: .675rem;
}


/* Landing Content */
.head {
  background-color: $header-background;
  padding: .5rem 1.25rem;
  min-height: $header-height;
  

  & > .container {

    max-width: $content-maxwidth;
    & > .left-side {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 20%;

      & .logo {
        width: 120px;
        height: auto;
      }
    }

    & > .center-side {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
      gap: 5rem;

      & .countdown-label {
        font-size: .875rem;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.25;
      }

      & .countdown {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        & .countdown-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          width: 3.25rem;

          & .value {
            display: flex;
            font-size: 1.75rem;
            font-weight: 300;
            color: #fff;
            letter-spacing: .375rem;
          }
          & .label {
            display: flex;
            font-size: .813rem;
            font-weight: 400;
            color: $subtext-color;
          }
        }

        & .countdown-separator {
          padding-top: .25px;
          font-size: 1.75rem;
          font-weight: 400;
          color: #fff;
          align-self: start;
        }
      }
      
      
    }

    & > .right-side {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: .375rem;
      width: 20%;
      & img.locate {
        width: 25px;
        height: 25px;
      }

      & .thumbnail {
        color: $grey;
      }

    }
  }

  /* ---------- Tablet ---------- */

  @media (max-width: 1024px) {
    max-width: 100vw;
    & .center-side { display: none !important; }

  }

  /* ---------- Mobile ---------- */

  @media (max-width: 768px) {
    max-width: 100vw;
    & .center-side { display: none !important; }

    

  }

  /* ---------- Small Mobile ---------- */

  @media (max-width: 480px) {
    max-width: 100vw;
    & .center-side { display: none !important; }

  }

  

  
}

.body {
  padding-top: 72px;
  max-width: 1520px;
  margin: 0 auto;

  & .copytrade-section {
    position: relative;
    padding: 2rem 0;
    min-height: 80vh;
    & .copytrade-container {
      position: relative;
      & * {
        transition: all .25s ease-in-out;
      }
      & > .hand {
        width: auto;
        min-height: 65vw;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        left: -20vw;
        top: 0;
      }

      & > .copytrade-content {
        padding-left: 50%;
        padding-right: 5%;
        padding-top: 2%;
        & > .title {
          font-family: sans-serif;
          font-size: 4.25rem;
          font-weight: 300;
          color: $dark-blue;
          text-transform: uppercase;
          line-height: 1.25;
          text-align: center;
          margin: 0;
          margin-block-start: 0;
          margin-block-end: 0;
        }
        & > .subtitle {
          font-family: sans-serif;
          font-size: 3rem;
          font-weight: 300 !important;
          color: #fff;
          line-height: 1.25;
          text-align: center;
          font-style: italic;
          margin: 0;
          margin-block-start: 0;
          margin-block-end: 0;
        }
        & > .supports {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          margin-top: 2rem;
          position: relative;

          & > .brand {
            background: #fff;
            padding: 0.25rem .5rem;
            border-radius: 8px;
          }

          & > .regular {
            width: 150px;
            height: auto;
            position: absolute;
            bottom: 0;
            transform: translateX(14vw) translateY(10vh);
          }
        }

        & > .promotion {
          margin-top: 4rem;
          & .title {
            font-size: 2rem;
            color: $dark-blue;
            font-weight: 400;
            font-family: sans-serif;
          }
          & .subtitle {
            font-size: 2rem;
            color: $gold;
            font-weight: 500;
            font-style: italic;
            font-family: Arial, sans-serif;
          }
          & .paragraph {
            font-size: 1rem;
            color: #fff;
            font-weight: 600;
            padding-top: .25rem;
            padding-bottom: 1rem;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.5;
          }
          & .brands {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1.5rem;
            & .brand {
              padding: .375rem 1rem;
              border: 1px solid #fff;
              border-radius: 10px;
              color: #fff;
              font-family: sans-serif;
              font-weight: 600;
              &:nth-child(1) {
                border: 1px solid $gold;
              }
              &:nth-child(2) {
                border: 1px solid $orange;
              }
              &:nth-child(3) {
                border: 1px solid red;
              }
              &:nth-child(4) {
                border: 1px solid $dark-blue;
              }
            }
          }
          & .btn-primary {
            padding: .675rem 1.25rem;
            font-size: 1.125rem;
            font-weight: 500;
            letter-spacing: 1.5;
            border-radius: 5px;
            font-family: Arial, Helvetica, sans-serif;
          }
          & small {
            color: #fff;
            font-size: 1rem;
            margin-top: 1.5rem;
            font-family: sans-serif;
            font-style: italic;
          }
        }
      }
    }
  }

  & .bigtitle {
    color: $dark-blue;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0rem;
  }
  & .bigsubtitle {
    color: $gold;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    max-width: 70vw;
    margin: 0 auto;
  }

  & .fast-section {
    position: relative;
    padding: 2rem 0 3rem;
    min-height: 50vh;

    & > .bigtitle {
      padding-bottom: 2rem;
    }

    & .fast-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin-top: 2.5rem;
      & > .phone {
        background: #fff;
        padding: 1rem 0;
        border-radius: 20px;
      }
      & > .content {
        & ul {
          list-style: none;
          padding-left: 0;

          & li {
            position: relative;
            padding-left: 60px;
            padding-bottom: 1rem;
            color: #fff;
            font-size: 1.5rem;
          }
          
          & li::before {
            content: "";
            position: absolute;
            left: 0;
            top: 10px;
            width: 50px;
            height: 50px;
            background-image: url('../public/blackwell/list-icon.png');
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
        
        
      }
    }
  }
  & .easy-section {
    position: relative;
    padding: 2rem 0;
    min-height: 80vh;

    & > .bigtitle {
      padding-bottom: 2rem;
    }
    & > .bigsubtitle {
      padding-bottom: 3.5rem;
    }
    & > .analysis-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      position: relative;
      & > .bg {
        position: relative;
        width: 200px;
        height: auto;
      }
      & > .subpop {
        position: absolute;
        top: 0;
        
        & > .c1 {
          transform: translateX(-100px) translateY(-22px);
        }
        & > .c2 {
          transform: translateX(100px) translateY(-55px);
        }
        & > .c3 {
          width: 200px;
          transform: translateX(-100px) translateY(-100px);
        }
        & > .c4 {
          width: 200px;
          transform: translateX(100px) translateY(-135px);
        }
        & > .c5 {
          width: 200px;
          transform: translateX(-100px) translateY(-170px);
        }
      }
    }
    
  }
  & .trade-section {
    position: relative;
    padding: 2rem 0 5rem;
    min-height: 80vh;
    & > .bigtitle {
      padding-bottom: 2.5rem;
      margin-top: 16%;
      z-index: 10;
      position: relative;
    }
    & .bg-1 { width: 100%;height: auto; position: absolute; top: 0;z-index: 1; }
    & > .trade-box {
      z-index: 10;
      position: relative;
      display: flex;
      align-items: start;
      justify-content: center;
      margin: 0 auto;
      max-width: 80%;
      & > .options {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background: $background;
        z-index: 10;
        & > .option {
          display: flex;
          align-items: center;
          padding: 1rem;
          border: 1px solid $gold;
          border-radius: 10px;
          background: $background;
          margin-right: .675rem;
          & h2 {
            color: $gold;
            font-size: 3rem;
            font-style: italic;
            flex: 1;
          }
          & span {
            flex: 4;
            color: #fff;
            font-weight: 800;
            font-size: 1.125rem;
          }
          &:nth-child(2n+1) {
            border: 1px solid $gold;
            & h2 {
              color: $gold;
              font-size: 3rem;
              font-style: italic;
              flex: 1;
            }
            & span {
              flex: 4;
              color: #fff;
              font-weight: 800;
              font-size: 1.125rem;
            }
          }
          &:nth-child(2n) {
            border: 1px solid $orange;
            & h2 {
              color: $orange;
              font-size: 3rem;
              font-style: italic;
              flex: 1;
            }
            & span {
              flex: 4;
              color: #fff;
              font-weight: 800;
              font-size: 1.125rem;
            }
          }

          &.bolded {
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin-right: -1px;
            & span {
              color: $dark-blue;
            }
          }
        }
      }

      & .content {
        flex: 1;
        display: none;
        background: $background;
        border-radius: 20px;
        & .s {
          min-height: 450px;
          display: flex;
          align-items: center;
          justify-content: center;
          & .img {
            width: auto;
            height: 100%;
          }
          
        }
        &:nth-of-type(2) {
          border-top-left-radius: 0;
        }
    
        &:nth-of-type(odd) {
          border: 1px solid $orange;
        }
    
        &:nth-of-type(even) {
          border: 1px solid $gold;
        }


        &.bolded {
          display: block;
        }
      }

      
    }

    & > .supports {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: 1.5rem;

      & > .brand {
        background: #fff;
        padding: 0.25rem .5rem;
        border-radius: 8px;
      }
    }
  }
  & .mt4-section {
    position: relative;
    padding: 2rem 0;
    min-height: 30vh;

    & > .bigtitle {
      padding-bottom: 3rem;
    }

    & .link-box {
      min-height: 350px;
      max-width: 80%;
      margin: 0 auto;

      & .card {
        border: 1px solid $orange;
        border-radius: 30px;
        min-height: 350px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: relative;
        & img {
          width: 180px;
          height: auto;
        }
        & span {
          display: block;
          color: #fff;
          font-weight: 800;
          font-size: 1.25rem;
          margin-top: auto;
          min-height: 75px;
          text-align: center;
        }

        & .arrow {
          position: absolute;
          right: -2rem;
          width: 100px;
          height: 100px;
          background: $background;
          z-index: 10;
          transform: translateY(100%) translateX(30px);
          display: flex;
          align-items: center;
          justify-content: center;
          & img {
            width: 100px;
            height: 100px;
          }
        }

        

      }
    }

    & .btn-primary {
      padding: .675rem 1.25rem;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 1.5;
      border-radius: 5px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  & .why-section {
    position: relative;
    padding: 2rem 0;
    min-height: 90vh;

    & > .bigtitle {
      margin-top: -5rem;
      padding-bottom: 2rem;
    }
    & .bg-2 { width: 100%;height: auto; }


    & > .choose-box {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 2rem;
      max-width: 80%;
      margin: 0 auto 3rem;
      & > .list {
        width: 100%;
        background: #fff;
        display: flex;
        align-items: center;
        gap: 1rem;
        border-radius: 10px;
        padding: .5rem 1rem;
        & .icon {
          width: 70px;
          height: auto;
          margin-right: 20px;
        }
        & b {
          min-width: 150px;
          color: $light-blue;
          font-size: 1.25rem;
        }
        & p {}
      }
    }

    & .btn-primary {
      padding: .675rem 1.25rem;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 1.5;
      border-radius: 5px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  & .navigate-section {
    position: relative;
    padding: 2rem 0;
    min-height: 50vh;

    & > .bigtitle {
      padding-bottom: 2rem;
    }

    & > .navigator-box {
      max-width: 80%;
      margin: 0 auto 3rem;
      & > .nav {
        display: flex;
        align-items: center;
        & > .option {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          background: #fff;
          padding: 0rem 1rem;
          & > .icon { display: block; width: 60px; height: auto; }
          & > .icon-bolded { display: none; width: 60px; height: auto; }

          &.bolded, &:hover {
            background: $gold;
            & > .icon { display: none; }
          & > .icon-bolded { display: block; }
          }
        }
      }
      & > .content {
        background: #fff;
        border-radius: 10px;
        border-top-left-radius: 0;
        & > .para {
          display: none;
          background: $gold;
          border-radius: 10px;
          min-height: 300px;
          justify-content: space-between;
          align-items: center;
          &.bolded { display: flex; }
          & > .con {
            padding: 1rem 4rem;
            & > .title {
              color: $light-blue;
              font-weight: 800;
              font-size: 2rem;
              margin-bottom: 1.5rem;
            }
            & > .paragraph {
              font-size: 1.125rem;
            }
          }
          & > .thumb {
            width: 340px;
            height: 300px;
          }
        }
        
      }
    }

    & > .supports {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: 1.5rem;

      & > .brand {
        background: #fff;
        padding: 0.25rem .5rem;
        border-radius: 8px;
      }
    }
  }
  & > .enquire-section {
    position: relative;
    padding: 22% 0 2rem;
    min-height: 0vh;

    & .coverimg {
      width: 100%;
      height: 100%;
      overflow: hidden;
      
      position: absolute; 
      top: 0;
      & .bg-3 { 
        min-width: 195%;height: auto; 
        object-fit: cover;
        object-position: center top;
        transform: translateX(-23%);

      }
    }
    

    & > .bigtitle {
      padding-bottom: 2rem;
      position: relative;
      z-index: 9;
    }

    & .enquire-box {
      max-width: 80%;
      margin: 0 auto;
    }

    & .btn-primary {
      padding: .675rem 1.25rem;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 1.5;
      border-radius: 5px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}





/* Shared Components */
.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  

  & .slider-nav {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #0000007a;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
    color: #fff;
    font-size: 1rem;
    &.prev {
      position: absolute;
      left: 20px;
      top: 0;
      transform: translateY(150px);
    }
    &.next {
      position: absolute;
      right: 20px;
      top: 0;
      transform: translateY(150px);
    }
  }
}

.slider-track {
  display: flex;
  transition: transform 0.6s cubic-bezier(.22,.61,.36,1);
}

.slide {
  flex: 0 0 25%;
  padding: 0 12px;
}


/* Input */
.form-row {
  display: flex;
  align-items: start;
  column-gap: 1rem;
  margin-bottom: 1.5rem;
  & > * {
    flex: 1;
  }
}
.form-group {
  border: 1px solid #fff;
  position: relative;
  border-radius: 5px;
  & label {
    position: absolute;
    left: 1rem;
    top: .5rem;
    color: #fff;
    background: $background;
    transition: all .25s ease-in;
  }
  & .form-input {
    padding: .5rem 1rem;
    outline: none;
    color: #fff;
    width: 100%;

    &::placeholder {
      color: transparent;
    }

    &.input-error {
      color: red;
    }
  }
  & .error {
    color: red;
  }

  &:focus-within {
    & label {
      top: -.675rem;
    }
  }
}

/* Select */
.select {
  position: relative;
  width: 100%;
  font-size: 14px;
}

.select-trigger {
  border: 1px solid #ddd;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  background: $background;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  transition: transform .2s;
}

.arrow.open {
  transform: rotate(180deg);
}

.select-dropdown {
  position: absolute;
  width: 100%;
  top: 110%;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
  z-index: 10;
}

.select-search {
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 10px;
  outline: none;
}

.select-option {
  padding: 10px 14px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.select-option:hover {
  background: #f5f5f5;
}

.select-option.highlight {
  background: #f0f0f0;
}

.select-option.active {
  font-weight: 600;
}

.check {
  color: black;
}


/* Popup */
@keyframes fade {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes popup {
  from {
    opacity: 0;
    transform: scale(.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.animate-blink {
  animation: blink 1s ease infinite;
}

.animate-fade {
  animation: fade .2s ease;
}

.animate-popup {
  animation: popup .25s ease;
}


/* marquee */
@keyframes marquee-scroll {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(-50%,0,0);
  }
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee-scroll linear infinite;

  /* GPU optimize */
  will-change: transform;
  backface-visibility: hidden;
}

/* pause on hover */
.marquee-hover:hover .marquee-track {
  animation-play-state: paused;
}


/* Shared typographs */
.color-subtext { color: $subtext-color; }

.fade-section {
  opacity: 0;
  transform: translateY(40px);
  transition: all .6s ease;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
}