@import "./variable";
@import "./typography";

@import "tailwindcss";


body {
  background: $background;
  font-family: "ATRotisSemiSans", Arial, Helvetica, sans-serif;
}
* {
  line-height: 1.15;
}

/* Landing Content */
.head {
  background-color: $header-background;
  padding: .5rem 1.25rem;
  min-height: 60px;
  

  & > .container {
    max-width: 1520px;
    & > .left-side {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 20%;

      & .logo {
        width: 120px;
        height: auto;
      }
    }

    & > .center-side {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
      gap: 5rem;

      & .countdown-label {
        font-size: .875rem;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.25;
      }

      & .countdown {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        & .countdown-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          width: 3.25rem;

          & .value {
            display: flex;
            font-size: 1.75rem;
            font-weight: 400;
            color: #fff;
            letter-spacing: .375rem;
          }
          & .label {
            display: flex;
            font-size: .813rem;
            font-weight: 400;
            color: #fff;
          }
        }

        & .countdown-separator {
          font-size: 1.5rem;
          font-weight: 400;
          color: #fff;
          align-self: start;
        }
      }
      
      
    }

    & > .right-side {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: .375rem;
      width: 20%;

      & .thumbnail {
        color: #b4b4b4;
      }

    }
  }

  

  
}

.body {
  padding-top: 72px;
  max-width: 1520px;
  margin: 0 auto;

  & > .copytrade-section {
    position: relative;
    padding: 2rem 0;
    min-height: 100vh;
    & > .copytrade-container {
      position: relative;
      & > .hand {
        width: auto;
        min-height: 900px;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        left: -20vw;
        top: 0;
      }

      & > .copytrade-content {
        padding-left: 45%;
        padding-right: 5%;
        padding-top: 5%;
        & > .title {
          font-size: 5rem;
          font-weight: 400;
          color: $dark-blue;
          text-transform: uppercase;
          line-height: 1.25;
          text-align: center;
          margin: 0;
          margin-block-start: 0;
          margin-block-end: 0;
        }
        & > .subtitle {
          font-size: 3rem;
          font-weight: 400;
          color: #fff;
          line-height: 1.25;
          text-align: center;
          font-style: italic;
          margin: 0;
          margin-block-start: 0;
          margin-block-end: 0;
          margin-top: -10px;
        }
        & > .supports {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          margin-top: 1.5rem;

          & > .brand {
            background: #fff;
            padding: 0.25rem .5rem;
            border-radius: 8px;
          }
        }

        & > .promotion {
          margin-top: 4rem;
          & .title {
            font-size: 2rem;
            color: $dark-blue;
            font-weight: 800;
          }
          & .subtitle {
            font-size: 2rem;
            color: $gold;
            font-weight: 800;
            font-style: italic;
          }
          & .paragraph {
            font-size: 1.25rem;
            color: #fff;
            font-weight: 800;
            padding-bottom: 1rem;
          }
          & .brands {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1rem;
            & .brand {
              padding: .375rem 1rem;
              border: 1px solid #fff;
              border-radius: 8px;
              color: #fff;
            }
          }
          & small {
            color: #fff;
            font-size: 1rem;
            margin-top: 1.5rem;
          }
        }
      }
    }
  }

  & .bigtitle {
    color: $dark-blue;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
  }
  & .bigsubtitle {
    color: $gold;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
  }

  & > .fast-section {
    position: relative;
    padding: 2rem 0;
    min-height: 100vh;

    & > .bigtitle {
      padding-bottom: 2rem;
    }

    & > .fast-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      & > .phone {
        background: #fff;
        padding: 1rem 0;
        border-radius: 20px;
      }
      & > .content {
        & ul {
          list-style: none;
          padding-left: 0;

          & li {
            position: relative;
            padding-left: 60px;
            padding-bottom: 1rem;
            color: #fff;
            font-size: 1.5rem;
          }
          
          & li::before {
            content: "";
            position: absolute;
            left: 0;
            top: 10px;
            width: 50px;
            height: 50px;
            background-image: url('../public/blackwell/list-icon.png');
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
        
        
      }
    }
  }
  & > .easy-section {
    position: relative;
    padding: 2rem 0;
    min-height: 100vh;

    & > .bigtitle {
      padding-bottom: 2rem;
    }
    & > .bigsubtitle {
      padding-bottom: 2rem;
    }
    & > .analysis-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      position: relative;
      & > .bg {
        position: relative;
      }
      & > .subpop {
        position: absolute;
        top: 0;
        
        & > .c1 {
          transform: translateX(-10px) translateY(-20px);
        }
        & > .c2 {
          transform: translateX(150px) translateY(-40px);
        }
        & > .c3 {
          transform: translateX(-120px) translateY(-60px);
        }
        & > .c4 {
          transform: translateX(150px) translateY(-100px);
        }
        & > .c5 {
          transform: translateX(-150px) translateY(-120px);
        }
      }
    }
    
  }
  & > .trade-section {
    position: relative;
    padding: 2rem 0;
    min-height: 100vh;
    & > .bigtitle {
      padding-bottom: 2rem;
    }
    & > .trade-box {
      display: flex;
      align-items: start;
      justify-content: center;
      & > .options {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        background: $background;
        z-index: 10;
        & > .option {
          display: flex;
          align-items: center;
          padding: 1rem;
          border: 1px solid $gold;
          border-radius: 8px;
          background: $background;
          margin-right: .5rem;
          & h2 {
            color: $gold;
            font-size: 3rem;
            font-style: italic;
            flex: 1;
          }
          & span {
            flex: 4;
            color: #fff;
            font-weight: 800;
            font-size: 1.125rem;
          }

          &.bolded {
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin-right: -1px;
            & h2 {}
            & span {}
          }
        }
      }

      & .content {
        flex: 1;
        border: 1px solid $gold;
        background: $background;
        border-radius: 10px;
        & .s {
          display: none;
          & .img {
            width: 100%;
          }
          &.bolded { display: block; }
        }
      }
    }

    & > .supports {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: 1.5rem;

      & > .brand {
        background: #fff;
        padding: 0.25rem .5rem;
        border-radius: 8px;
      }
    }
  }
  & > .mt4-section {
    position: relative;
    padding: 2rem 0;
    min-height: 100vh;

    & > .bigtitle {
      padding-bottom: 2rem;
    }

    & .link-box {
      min-height: 300px;

      & .card {
        border: 1px solid $orange;
        border-radius: 30px;
        min-height: 200px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: relative;
        & img {
          width: 180px;
          height: auto;
        }
        & span {
          display: block;
          color: #fff;
          font-weight: 800;
          font-size: 1.25rem;
        }

        & .arrow {
          position: absolute;
          right: -2rem;
          width: 100px;
          height: 100px;
          background: $background;
          z-index: 10;
          transform: translateY(50%) translateX(30px);
          display: flex;
          align-items: center;
          justify-content: center;
          & img {
            width: 100px;
            height: 100px;
          }
        }

      }
    }
  }
  & > .why-section {
    position: relative;
    padding: 2rem 0;
    min-height: 100vh;

    & > .bigtitle {
      padding-bottom: 2rem;
    }

    & > .choose-box {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 2rem;
      & > .list {
        background: #fff;
        display: flex;
        align-items: center;
        gap: 1rem;
        border-radius: 10px;
        padding: .5rem 1rem;
        & .icon {
          width: 70px;
          height: auto;
        }
        & b {
          min-width: 140px;
        }
        & p {}
      }
    }
  }
  & > .navigate-section {
    position: relative;
    padding: 2rem 0;
    min-height: 100vh;

    & > .bigtitle {
      padding-bottom: 2rem;
    }

    & > .navigator-box {
      & > .nav {
        display: flex;
        align-items: center;
        & > .option {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          background: #fff;
          padding: .5rem 1rem;
          & > .icon { display: block; width: 60px; height: auto; }
          & > .icon-bolded { display: none; width: 60px; height: auto; }

          &.bolded, &:hover {
            background: $gold;
            & > .icon { display: none; }
          & > .icon-bolded { display: block; }
          }
        }
      }
      & > .content {
        background: #fff;
        border-radius: 10px;
        border-top-left-radius: 0;
        & > .para {
          background: $gold;
          border-radius: 10px;
          padding: 2rem 1.5rem;
          & > .title {
            color: $light-blue;
            font-weight: 800;
            font-size: 2rem;
            margin-bottom: 1.5rem;
          }
          & > .paragraph {
            font-size: 1.125rem;
          }
        }
      }
    }

    & > .supports {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: 1.5rem;

      & > .brand {
        background: #fff;
        padding: 0.25rem .5rem;
        border-radius: 8px;
      }
    }
  }
  & > .enquire-section {
    position: relative;
    padding: 2rem 0;
    min-height: 100vh;
  }
}



/* Shared Buttons */
.btn-primary {
  cursor: pointer;
  background-color: $orange;
  color: #fff;
  border: 1px solid $orange;
  border-radius: 30px;
  padding: .675rem 1.25rem;
  font-size: 0.813rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
  &:hover {
    background-color: #fff;
    color: $orange;
  }
}

.btn-icon {
  cursor: pointer;
  color: #fff;
  padding: .45rem .5rem;
  font-size: 0.813rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
  border-radius: 0;
  border-bottom: 3px solid transparent;
  &:hover {
    border-bottom: 3px solid $background;
  }
}

.button-popover {
  text-transform: capitalize;
  background-color: #373737;
  color: #fff;
  border-radius: 8px;
  font-size: .675rem;
}


/* Shared Components */
.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  

  & .slider-nav {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
    &.prev {
      position: absolute;
      left: 20px;
      top: 0;
      transform: translateY(110px);
    }
    &.next {
      position: absolute;
      right: 20px;
      top: 0;
      transform: translateY(110px);
    }
  }
}

.slider-track {
  display: flex;
  transition: transform 0.6s cubic-bezier(.22,.61,.36,1);
}

.slide {
  flex: 0 0 33.333%;
  padding: 0 12px;
}